/*
react doesn't support pesudo-classes (::before, ::after)
READ: https://stackoverflow.com/a/48466672/11319882
 */

.dots::after {
  content: '';
  animation-name: dots;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes dots {
  0% {
    content: '  ';
  }

  25% {
    content: '.  ';
  }

  50% {
    content: '.. ';
  }

  75% {
    content: '...';
  }
}
